body,html {
    width: 100%;
}

#content {
    width:75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 2;
    margin-top: 2px;
}
#header {
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-text {
    margin-left: 1.3rem;
    margin-top: 0.5em;
    font-size: 1.5rem;
}
.card-header {
    font-size: 1.8em;
    background-image: radial-gradient(80% 40%, #8a8c8d, #2c3e50) !important; 
    color: #f0f0f0;
}
.nav-link {
    font-size: 1.3em !important;
}
.navbar{
    margin-bottom: 15px;
    position: sticky !important;
    top: 0;
    z-index: 1;
}
.btn-primary {
    background-color: #0881a3 !important;
}
.btn-primary:hover {
    background-color:#117298 !important;
}

.items {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing: border-box;
    justify-content:center;
    width: 100% !important;
}
#chartContainer {
    width: 80vw;
    margin: 20px auto;
}
.card {
    flex: 0 1 275px;
    height: 280px;
    background-image: radial-gradient(80% 40%, #fafafa, #F2F2F2,#DBDBDB,#EAEAEA);
    border: 2px solid rgba(28,110,164,0.43) !important;
}

.custom-control {
    display: flex !important;
    justify-content: space-between !important;
    padding:0 !important;
    transition:height 3s;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0 !important;
    height: 30% !important;
    text-align: center;
}

.more-info {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    height: 0;
    transition: visibility 2s, opacity 2s, height 2s linear;
    position: absolute;
    top: -85px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.check {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.collapsible {
    width: 150%
}

.parallax , html {
    background-image: url('/imgs/25101-min.jpg');
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
